:root {
    --aqua-5 : rgb(201,252,251);
    --aqua-4 : rgb(153,236,234);
    --aqua-3 : rgb(106,219,216);
    --aqua-2 : rgb(58,203,199);
    --aqua-1 : rgb(10,186,181);

    --white-9 : rgb(69,69,69);
    --white-8 : rgb(102,102,102);
    --white-7 : rgb(128,128,128);
    --white-6 : rgb(151,151,151);
    --white-5 : rgb(172,172,172);
    --white-4 : rgb(191,191,191);
    --white-3 : rgb(208,208,208);
    --white-2 : rgb(224,224,224);
    --white-1 : rgb(240,240,240);


    --shadow-box : rgba(69,69,69,0.5);
}